extends layouts/main-layout.pug 

block content
     main
            h1 Sorry, this page actually doesn't exist
            p You may want to go back to the main page?
            a.link(href="/") Main Page